[Unit]
Description=SeaTable Task Monitor
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash PROJECTDIR/deploy/run.sh
Environment=SEATABLE_MONITOR_CONFIG=%h/.config/seatable-monitor/config.toml
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
